/* Стилі для логотипу */
#earthy-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #2A3855;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  z-index: 10; /* Підвищений z-index для поверх мапи */
  opacity: 1; /* Забезпечення видимості */
}

#earthy-logo i {
  font-size: 32px;
  margin-right: 15px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.earthy {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}

.systems {
  font-size: 22px;
  font-weight: 400;
}
